@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas-neue);
  font-weight: 400;
  font-style: normal;
}
