@import "tailwindcss";

.dark,
.dark-theme {
  --red-1: #180e0d;
  --red-2: #221210;
  --red-3: #400c0b;
  --red-4: #590003;
  --red-5: #6b0007;
  --red-6: #7d1214;
  --red-7: #982422;
  --red-8: #c4302e;
  --red-9: #f80020;
  --red-10: #e8000a;
  --red-11: #ff9084;
  --red-12: #ffcec7;

  --red-a1: #f1000008;
  --red-a2: #f61f0413;
  --red-a3: #fc000033;
  --red-a4: #fd00004e;
  --red-a5: #fd000061;
  --red-a6: #ff141874;
  --red-a7: #ff332f91;
  --red-a8: #ff3b38c0;
  --red-a9: #ff0021f8;
  --red-a10: #fe000ae7;
  --red-a11: #ff9084;
  --red-a12: #ffcec7;

  --red-contrast: #fff;
  --red-surface: #33131080;
  --red-indicator: #f80020;
  --red-track: #f80020;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --red-1: oklch(17.8% 0.0169 26.52);
      --red-2: oklch(20.4% 0.0264 26.52);
      --red-3: oklch(25% 0.0804 26.52);
      --red-4: oklch(28.9% 0.1215 26.52);
      --red-5: oklch(33.1% 0.1353 26.52);
      --red-6: oklch(38.2% 0.1408 26.52);
      --red-7: oklch(45% 0.1523 26.52);
      --red-8: oklch(54.2% 0.1851 26.52);
      --red-9: oklch(61.6% 0.2507 26.52);
      --red-10: oklch(57.4% 0.2507 26.52);
      --red-11: oklch(78.4% 0.2097 26.52);
      --red-12: oklch(90.1% 0.0659 26.52);

      --red-a1: color(display-p3 0.9608 0 0 / 0.022);
      --red-a2: color(display-p3 0.9882 0.1922 0.0706 / 0.064);
      --red-a3: color(display-p3 0.9961 0.0471 0 / 0.173);
      --red-a4: color(display-p3 1 0 0 / 0.269);
      --red-a5: color(display-p3 1 0.0471 0.0353 / 0.341);
      --red-a6: color(display-p3 1 0.1922 0.1569 / 0.408);
      --red-a7: color(display-p3 1 0.2902 0.2431 / 0.517);
      --red-a8: color(display-p3 1 0.3176 0.2784 / 0.69);
      --red-a9: color(display-p3 1 0.2078 0.2039 / 0.887);
      --red-a10: color(display-p3 1 0.2039 0.1529 / 0.824);
      --red-a11: color(display-p3 1 0.6235 0.5647 / 0.937);
      --red-a12: color(display-p3 0.9961 0.8392 0.8118 / 0.967);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.1725 0.0784 0.0627 / 0.5);
      --red-indicator: oklch(61.6% 0.2507 26.52);
      --red-track: oklch(61.6% 0.2507 26.52);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas-neue);
  font-weight: 400;
  font-style: normal;
}
